<ion-content class="payment-success-page" scroll-y="false">
  <div class="container">
    <div class="content">
      <h1 class="title">Payment Successful</h1>
      <div class="image-wrapper">
        <img src="assets/professional/payment-success.svg" alt="Success" class="checkmark" />
      </div>
      <p class="subtitle">Appointment Created Successfully!</p>
      <p class="description">Thank you and see you soon</p>
    </div>
  </div>

  <!-- Replaced footer -->
  <div class="custom-footer">
    <button class="go-back-btn" (click)="prev()">
      Back To Home
    </button>
  </div>
</ion-content>