.stars {
    display: flex;
    align-items: center;
  
    .star-wrapper {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 2px;
    }
  
    .star-bg, .star-fg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .star-fill {
      overflow: hidden;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  