<ion-content [fullscreen]="true" class="reset-password-page ion-padding">
  <div class="reset-container">

    <ion-button fill="clear" class="back-button" shape="round">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>

    <h1 class="reset-title">Reset Password</h1>
    <p class="reset-description">
      Enter your email address, a reset password link will be sent if the entered email exists.
    </p>

    <ion-item lines="none" class="email-input">
      <ion-input
        placeholder="Enter Email Address"
        type="email"
        inputmode="email"
        autocomplete="email"
        class="custom-input"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" class="continue-button" shape="round" fill="solid">
      Continue
    </ion-button>

  </div>
</ion-content>
