<ion-content class="change-password-page" [fullscreen]="true">
  <div class="container shimmer-wrapper" *ngIf="isLoading">
    <div class="shimmer-avatar"></div>
    <div class="shimmer-line short"></div>
    <div class="shimmer-line"></div>
    <div class="shimmer-line"></div>
    <div class="shimmer-line short"></div>
  </div>

  <div class="container" *ngIf="!isLoading">
    <div class="top-bar">
      <img src="assets/icons/back.svg" alt="Back" class="back-icon" (click)="goBack()" />
      <h1 class="title">Edit Password</h1>
    </div>

    <div class="avatar-wrapper">
      <img src="assets/images/user.jpg" alt="User" class="avatar" />
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="form-field">
        <input type="password" placeholder="Current Password" formControlName="currentPassword" />
        <img src="assets/icons/lock.svg" alt="Lock" />
      </div>
      <div class="form-field">
        <input type="password" placeholder="New Password" formControlName="newPassword" />
        <img src="assets/icons/lock.svg" alt="Lock" />
      </div>
      <div class="form-field">
        <input type="password" placeholder="Confirm New Password" formControlName="confirmPassword" />
        <img src="assets/icons/lock.svg" alt="Lock" />
      </div>

      <button type="submit" class="update-btn" [disabled]="!passwordForm.valid">Update Password</button>
    </form>
  </div>
</ion-content>
<ion-content class="change-password-page" [fullscreen]="true">
  <div class="container shimmer-wrapper" *ngIf="isLoading">
    <div class="shimmer-avatar"></div>
    <div class="shimmer-line short"></div>
    <div class="shimmer-line"></div>
    <div class="shimmer-line"></div>
    <div class="shimmer-line short"></div>
  </div>

  <div class="container" *ngIf="!isLoading">
    <div class="top-bar">
      <img src="assets/icons/back.svg" alt="Back" class="back-icon" (click)="goBack()" />
      <h1 class="title">Edit Password</h1>
    </div>

    <div class="avatar-wrapper">
      <img src="assets/images/user.jpg" alt="User" class="avatar" />
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="form-field">
        <input type="password" placeholder="Current Password" formControlName="currentPassword" />
        <img src="assets/icons/lock.svg" alt="Lock" />
      </div>
      <div class="form-field">
        <input type="password" placeholder="New Password" formControlName="newPassword" />
        <img src="assets/icons/lock.svg" alt="Lock" />
      </div>
      <div class="form-field">
        <input type="password" placeholder="Confirm New Password" formControlName="confirmPassword" />
        <img src="assets/icons/lock.svg" alt="Lock" />
      </div>

      <button type="submit" class="update-btn" [disabled]="!passwordForm.valid">Update Password</button>
    </form>
  </div>
</ion-content>
