:root {
    /* Brand Colors */
    --ion-color-primary: #18A0FB;
    --ion-color-primary-rgb: 24, 160, 251;
  
    --ion-color-secondary: #39B0FF;
    --ion-color-secondary-rgb: 57, 176, 255;
  
    --ion-color-success: #10B981;
    --ion-color-danger: #EF4444;
  
    /* Common UI Colors */
    --ion-background-color: #ffffff;
    --ion-text-color: #111827;
    --ion-text-muted: #6A6A6A; /* For muted/secondary text */
    --ion-logo-blue: #007ACC; /* Logo image tint */
  
    /* Fonts */
    --ion-font-family-base: 'Manrope', sans-serif;
}
