<ion-content class="login-screen ion-padding" [fullscreen]="true">

  <div class="shimmer-wrapper" *ngIf="loading">
    <div class="shimmer-box"></div>
  </div>
  <!-- <div class="back-button" (click)="prev()">
    <img src="../../../assets/back-btn.svg" alt="Back" />
  </div> -->

  <div *ngIf="!loading" class="login-container">
    <h1>Get Started</h1>
    <p class="welcome-subtitle">Sign in to access your personalized experience</p>

    <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="login-form">
      <div class="input-group">
        <label>Email Address</label>
        <input type="email" formControlName="email" placeholder="Email Address" />
        <div class="error-text" *ngIf="email.invalid && email.touched">Please enter a valid email.</div>
      </div>

      <div class="input-group password-group">
        <label>Password</label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="********" />
          <img src="assets/icon/Eye.svg" (click)="togglePassword()" alt="Toggle visibility" />
        </div>
        <div class="error-text" *ngIf="password.invalid && password.touched">Password is required.</div>
      </div>

      <div class="options">
        <div class="remember">
          <ion-checkbox></ion-checkbox>
          <span>Remember Me</span>
        </div>
        <a class="forgot-link">Forgot Password?</a>
      </div>
      

      <div class="button-group">
        <div class="selection-buttons">
          <button
            class="load-button"
            expand="block"
            type="submit"
            [disabled]="isSubmitting"
            (click)="onLogin()"
          >
            <ng-container *ngIf="!isSubmitting; else loading">
              Login
            </ng-container>
            <ng-template #loading>
              <span class="spinner spinner-dark spinner-md"></span>
            </ng-template>
          </button>
        </div>
      </div>

      <!-- <div class="button-group">
        <div class="selection-buttons">
          <button class="load-button" expand="block" type="submit" (click)="onLogin()">Login</button>
        </div>      
      </div> -->
      
    </form>

    <div class="divider">or continue with</div>

    <div class="social-buttons">
      <button class="social-btn"><img src="assets/icon/google-icon.svg" />Continue With Google</button>
    </div>

    <p class="signup-text">
      Don’t Have An Account?
      <a class="signup-link">Sign Up Now</a>
      <span class="change-type">
        Go to 
        <a class="signup-link">Professional Login</a>
      </span>
    </p>
  </div>
</ion-content>
