<ion-content [fullscreen]="true" class="notification-page ion-padding">
  <div class="notification-container">
    <h1 class="notification-title">Turn on<br />notifications ?</h1>
    <p class="notification-subtitle">
      Don’t miss important update and account activity
    </p>

    <div class="notification-buttons">
      <ion-button expand="block" class="yes-button" shape="round" fill="solid">
        Yes Notify
      </ion-button>

      <ion-button expand="block" class="skip-button" shape="round" fill="outline" color="primary">
        Skip
      </ion-button>
    </div>
  </div>
</ion-content>
